// Do we need to serve a font? Add the @font-face styles here.
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;500&display=swap');
@font-face {
    font-family: 'photograph_signatureregular';
    src:url('assets/fonts/photograph_signature-webfont.otf') format('truetype'),
        url('assets/fonts/photograph_signature-webfont.woff2') format('woff2'),
         url('assets/fonts/photograph_signature-webfont.woff') format('woff'),
         url('assets/fonts/photograph_signature-webfont.svg#photograph_signatureregular') format('svg');
    font-weight: normal;
    font-style: normal;
}