.sticky {
	// This class is required to pass ThemeCheck.
}

.no-results.not-found > *:first-child {
	margin-bottom: calc(3 * var(--global--spacing-vertical));
}

// Styling for wp_link_pages.
.page-links {
	clear: both;

	.post-page-numbers {
		display: inline-block;
		margin-left: calc(0.66 * var(--global--spacing-unit));
		margin-right: calc(0.66 * var(--global--spacing-unit));
		min-width: 44px;
		min-height: 44px;

		&:first-child {
			margin-left: 0;
		}
	}
}
.page-template-blade{
	.site-main{
		padding-top: 0;
	}
    article{
		.blade-entry-content{
			&--background{
				margin-top: 0;
				margin-bottom: 0;
				background-image: var(--blade-background-image);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center center;
				padding: var(--global--spacing-vertical) 0 calc(1.2 * var(--global--spacing-vertical));
			}

		}
		.blade-entry{
			&__parallax--background{
				background-image: var(--blade-parallax-image);
				background-position: center;
				background-attachment: fixed;
				height: 240px;
				margin: 0;
			}
		}
	}
}